{% extends 'layout.html' %}
{% block resume_upload %}
<section>
<nav>
<a href="{{url_for('views.diversity')}}">Generate Diversity Score</a>
</nav>
<hr>
</section>
<section>
	<header><h4>Remove bias from a CV</h4><br></header>
	<p>Upload a resume</p>
	<form action="{{ url_for('views.unbias')}}" type="file" method='POST' enctype="multipart/form-data">
			{{form.csrf_token}}
			{{form.resume}}
			{{form.submit(class="button")}}
		</section>
		<p>Powered by MiQ Nearly Nameless Nick.</p>
	</form>
</section>
{% endblock %}
