swagger: "2.0"
info:
  description: "Bias removing api"
  version: "1.0.0"
  title: "Nearly Nameless Nick API"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "apiteam@swagger.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "nnn.mediaiqdigital.com"
basePath: "/v1"
schemes:
- "https"
- "http"
paths:
  /resume:
    post:
      tags:
      - "resume"
      summary: "Remove bias from a resume"
      description: ""
      operationId: "unbiasResume"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
        - in: formData
          name: upfile
          type: file
          description: The file to upload.
      responses:
        400:
          description: "Invalid input"
        200:
          description: Unbiased resume
          schema:
            $ref: '#/definitions/Resume'
  /diversity_score:
    post:
      tags:
      - "diversity"
      summary: "Get diversity score"
      description: "Measure how a candidate can make your team more divers"
      operationId: "measureResume"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/json"
      parameters:
        - in: formData
          name: upfile
          type: file
          description: The file to upload.
      responses:
        200:
          description: "Get diversity score"
          schema:
            $ref: '#/definitions/DiversityScore'
securityDefinitions:
  petstore_auth:
    type: "oauth2"
    authorizationUrl: "http://petstore.swagger.io/oauth/dialog"
    flow: "implicit"
    scopes:
      write:pets: "modify pets in your account"
      read:pets: "read your pets"
  api_key:
    type: "apiKey"
    name: "api_key"
    in: "header"
definitions:
  Resume:
    type: object
    properties:
      id:
        type: integer
        format: int64
      skills:
        type: array
        items:
         type: string
      experience:
        type: array
        items: 
          type: string
      education:
        type: array
        items:
          type: string
  DiversityScore:
    type: object
    properties:
      score:
        type: integer
        format: int64
      personality:
        type: object
        
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"